body {
  font-family:'Times New Roman', Times, serif;
  background-size: 70%;
  
}
.cantainer{
  width: 70%;
  margin: 0 auto;
}

header {
  color:rgb(222, 255, 196);
  padding: 12em;
  background-color:turquoise;
}
  header h1 {
  margin: 2;
  align-items:center;
}

nav ul {
  list-style:inside;
  margin: 1;
  padding: 0;
  
}

nav li {
  display:inline-block;
  margin-right: 1em;
  
}

nav a {
  color:rgb(220, 20, 190);
  text-decoration:underline;
}

section {
  margin: 3em;
  align-items: center;
  }
section h2{
  color: rgb(0, 174, 255);
}
section img {
  max-width: 100%;
}

footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}
h1{
  color:black;
  align-items: center;
  font-size: 400%;
}

link{
  display:none;
}

label {
  font-size: 20px;
}
textarea {
  width:250px;
  height: 100px;
  align-items: ;
}


